<div class="contact-user-chat">
    <button class="user-settings-button user-list">
        {{contactUserName}}
    </button>
    <div class="contact-user-message-info">
        <div class="contact-user-chat-name">
            {{contactUserChatName}}
        </div>
        <div class="contact-user-message-preview">
            {{contactUserChatMessage}}
        </div>
    </div>
    <div class="contact-user-other-info">
        <div class="contact-user-chat-time">
            {{contactUserChatTime}}
        </div>
        <div class="contact-user-unread-message-count">
            {{contactUserUnreadMessageCount}}
        </div>
    </div>
</div>