<div class="message-container">
    {{#if hideChat}}
    <div class="empty-chat">Выберите чат и начните общение</div>
    {{else}}
    <div class="user-block">
        <div class="contact-user-info">
            {{{contactUserChatButton}}}
            <button class="user-settings-button user-list">
                {{contactUserName}}
            </button>
            <span class="contact-user-name">{{contactUserChatName}}</span>
        </div>
        <div class="contact-user-settings">
            {{{editChatButton}}}
            {{{deleteChatButton}}}
        </div>
        <div>
        </div>
    </div>
    <div class="message">
        <div class="message-container-field">
            {{#each chatMessages}}
                {{{this}}}
            {{/each}}
        </div>
        <div class="input-message-field">
            {{{typeInput}}}
        </div>
    </div>
    {{/if}}
        {{{modal}}}
</div>
